--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agents (
    id_agent character varying(50) NOT NULL,
    nom_chiffre text NOT NULL,
    id_etablissement integer,
    actif boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    nom_complet character varying(200),
    role character varying(100) DEFAULT 'Agent de sant├®'::character varying
);


ALTER TABLE public.agents OWNER TO postgres;

--
-- Name: consultations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations (
    id_consultation character varying(36) NOT NULL,
    id_patient character varying(36),
    date_heure timestamp with time zone NOT NULL,
    agent_id character varying(50),
    symptomes_json text,
    statut_sync character varying(20) DEFAULT 'SYNCED'::character varying,
    synced_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone
);


ALTER TABLE public.consultations OWNER TO postgres;

--
-- Name: diagnostics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diagnostics (
    id_diagnostic character varying(36) NOT NULL,
    id_consultation character varying(36),
    maladie_code character varying(50),
    probabilite_ml numeric(5,4),
    decision_arbre character varying(50),
    recommandation_json text,
    gravite_score integer,
    couleur_alerte character varying(10),
    synced_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone
);


ALTER TABLE public.diagnostics OWNER TO postgres;

--
-- Name: districts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.districts (
    id_district integer NOT NULL,
    nom character varying(100) NOT NULL,
    region character varying(100),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.districts OWNER TO postgres;

--
-- Name: districts_id_district_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.districts_id_district_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.districts_id_district_seq OWNER TO postgres;

--
-- Name: districts_id_district_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.districts_id_district_seq OWNED BY public.districts.id_district;


--
-- Name: etablissements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.etablissements (
    id_etablissement integer NOT NULL,
    code character varying(20) NOT NULL,
    nom character varying(150) NOT NULL,
    type character varying(50),
    id_district integer,
    latitude numeric(9,6),
    longitude numeric(9,6),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.etablissements OWNER TO postgres;

--
-- Name: etablissements_id_etablissement_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.etablissements_id_etablissement_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.etablissements_id_etablissement_seq OWNER TO postgres;

--
-- Name: etablissements_id_etablissement_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.etablissements_id_etablissement_seq OWNED BY public.etablissements.id_etablissement;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    id_patient character varying(36) NOT NULL,
    nom_chiffre text NOT NULL,
    date_naissance date,
    sexe character(1),
    village_code character varying(50),
    id_etablissement integer,
    synced_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: sync_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sync_log (
    id integer NOT NULL,
    id_appareil character varying(50),
    agent_id character varying(50),
    nb_consultations integer DEFAULT 0,
    nb_patients integer DEFAULT 0,
    statut character varying(20),
    message text,
    synced_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.sync_log OWNER TO postgres;

--
-- Name: sync_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sync_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sync_log_id_seq OWNER TO postgres;

--
-- Name: sync_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sync_log_id_seq OWNED BY public.sync_log.id;


--
-- Name: districts id_district; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.districts ALTER COLUMN id_district SET DEFAULT nextval('public.districts_id_district_seq'::regclass);


--
-- Name: etablissements id_etablissement; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etablissements ALTER COLUMN id_etablissement SET DEFAULT nextval('public.etablissements_id_etablissement_seq'::regclass);


--
-- Name: sync_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_log ALTER COLUMN id SET DEFAULT nextval('public.sync_log_id_seq'::regclass);


--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agents (id_agent, nom_chiffre, id_etablissement, actif, created_at, updated_at, nom_complet, role) FROM stdin;
agent_aminatou	Aminatou Wali	2	t	2026-04-26 22:47:09.569329+01	2026-04-26 22:47:09.569329+01	Aminatou Wali	Infirmi├¿re
urgence_anonyme	Acc├¿s Urgence	2	t	2026-04-26 22:47:09.569329+01	2026-04-26 22:47:09.569329+01	Acc├¿s Urgence	Urgence
agent_ibrahim	Ibrahim Hamadou	2	t	2026-04-27 11:10:11.437258+01	2026-04-27 11:10:11.437258+01	Ibrahim Hamadou	Agent de sant├®
\.


--
-- Data for Name: consultations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: diagnostics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: districts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.districts (id_district, nom, region, created_at) FROM stdin;
1	Ngaound├®r├® Urbain	Adamaoua	2026-04-26 22:47:09.553306+01
2	Ngaound├®r├® Rural	Adamaoua	2026-04-26 22:47:09.553306+01
3	Meiganga	Adamaoua	2026-04-26 22:47:09.553306+01
4	Tibati	Adamaoua	2026-04-26 22:47:09.553306+01
5	Banyo	Adamaoua	2026-04-26 22:47:09.553306+01
6	Bertoua	Est	2026-04-26 22:47:09.553306+01
7	Batouri	Est	2026-04-26 22:47:09.553306+01
8	Yokadouma	Est	2026-04-26 22:47:09.553306+01
9	Abong Mbang	Est	2026-04-26 22:47:09.553306+01
\.


--
-- Data for Name: etablissements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sync_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: districts_id_district_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.districts_id_district_seq', 9, true);


--
-- Name: etablissements_id_etablissement_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.etablissements_id_etablissement_seq', 16, true);


--
-- Name: sync_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sync_log_id_seq', 16, true);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id_agent);


--
-- Name: consultations consultations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations
    ADD CONSTRAINT consultations_pkey PRIMARY KEY (id_consultation);


--
-- Name: diagnostics diagnostics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics
    ADD CONSTRAINT diagnostics_pkey PRIMARY KEY (id_diagnostic);


--
-- Name: districts districts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.districts
    ADD CONSTRAINT districts_pkey PRIMARY KEY (id_district);


--
-- Name: etablissements etablissements_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etablissements
    ADD CONSTRAINT etablissements_code_key UNIQUE (code);


--
-- Name: etablissements etablissements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etablissements
    ADD CONSTRAINT etablissements_pkey PRIMARY KEY (id_etablissement);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id_patient);


--
-- Name: sync_log sync_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sync_log
    ADD CONSTRAINT sync_log_pkey PRIMARY KEY (id);


--
-- Name: agents agents_id_etablissement_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_id_etablissement_fkey FOREIGN KEY (id_etablissement) REFERENCES public.etablissements(id_etablissement);


--
-- Name: consultations consultations_id_patient_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations
    ADD CONSTRAINT consultations_id_patient_fkey FOREIGN KEY (id_patient) REFERENCES public.patients(id_patient);


--
-- Name: diagnostics diagnostics_id_consultation_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics
    ADD CONSTRAINT diagnostics_id_consultation_fkey FOREIGN KEY (id_consultation) REFERENCES public.consultations(id_consultation);


--
-- Name: etablissements etablissements_id_district_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etablissements
    ADD CONSTRAINT etablissements_id_district_fkey FOREIGN KEY (id_district) REFERENCES public.districts(id_district);


--
-- Name: patients patients_id_etablissement_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_id_etablissement_fkey FOREIGN KEY (id_etablissement) REFERENCES public.etablissements(id_etablissement);


--
-- PostgreSQL database dump complete
--

